p
{
    color: black;
}
.coordonnées
{
    color: aquamarine
    font-size: 18px
    font-family: verdana 
 
}
.cv
{
    color: rgb(13, 14, 121);
    font-size: 80px
}
h1
{
    color: blue;
}
h2
{
    color: rgb(56, 17, 17);
 
}
h3
{
    color: black;
}

li
{
    color: black;
}
ul {
    padding: 0;
}
ul.no-dots {
    list-style: none;
}